<!DOCTYPE html>
<html th:replace="~{layout :: frag_layout(~{::main})}">
<main>
    <h1>Détail de la Barbie</h1>
    <form>
        <ul class="flex-outer">
            <li>
                <label for="idName">Name : </label>
                <input id="idName" type="text">
            </li>
            <li>
                <label for="idType">Type : </label>
                <input id="idType" type="text">
            </li>
            <button type="submit" value="Ajouter Barbie">Ajouter Barbie</button>
        </ul>
    </form>

</main>
</html>