
<html lang="fr" th:fragment="frag_layout(content)">
<head>
    <meta charset="UTF-8">
    <!--  la abalise sera remplacée par le contenu de title -->
    <title>Barbies</title>

    <link rel="stylesheet" href="/css/general.css">
</head>
<body class="master">
<header>
    <h1 id="nav-title">Barbies</h1>
    <img src="/image/barbie.jpg" />
    <nav>
        <ul>
            <li><a href="/static">Accueil</a></li>
            <li><a href="/barbies">Barbies</a></li>
            <li><a href="/barbies/add">Ajout barbies</a></li>
            <li><a href="/types">Types</a></li>
            <li><a href="/types/add">Ajout Type</a></li>
        </ul>
    </nav>
</header>

<main th:replace="${content}"></main>

<footer>
    <p>&copy; Mattel</p>
</footer>
</body>
</html>